* {
    margin: 0;
    
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
}

canvas {
    min-width: 100vh;
    max-width: 100vh;
    height: 100vh;
    background-color: darkgrey;
    display: block;
}

#info {
    background-color: lightgrey;
    min-width: 10rem;
    height: 100vh;
    flex-grow: 1;
    border: 1px solid black;
}

#properties {
    background-color: lightgrey;
    min-width: 15rem;
    height: 100vh;
    flex-grow: 1;
}