* {
    margin: 0;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

canvas {
    min-width: 50vh;
    max-width: 50vh;
    height: 50vh;
    background-color: darkgrey;
    display: block;
}

#properties-wrapper {
    margin-left: 2rem;
    border: 1px solid lightgray;
    padding: 0.5rem;
}

#properties {
    min-width: 10rem;
}

.hidden {
    display: none;
}